# Ignore environment files
.env

# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore specific directories
dist/
build/

# Ignore system-specific files
.DS_Store
Thumbs.db
